html{
	scroll-behavior: smooth;
}

.mediaViewInfo {
	--web-view-name: Desktop Version;
	--web-view-id: Desktop_Version;
	--web-center-horizontally: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Desktop_Version;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Desktop_Version_Class {
	background: #E5E5E5;
	background-color: rgba(255,255,255,1);
	--web-view-name: Desktop Version;
	--web-view-id: Desktop_Version;
	--web-center-horizontally: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
.Group_109_Class {
	width: 100vw;
	height: auto;
}
.Rectangle_31_Class {
	position: absolute;
	width: 569px;
	height: 569px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_3_Class {
	overflow: visible;
}
.Science_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 48px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_Class {
	overflow: hidden;
	line-height: 24px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(26,26,26,1);
}
.Group_4_Class {
	overflow: visible;
}
.Learn_anything_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 42px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Talk_to_our_instructors_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 42px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Speak_with_others_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 42px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.icon_1_Class {
	left: 0px;
	top: 0px;
	overflow: visible;
}
.icon_2_Class {
	left: 2px;
	top: 89px;
	overflow: visible;
}
.icon_3_Class {
	left: 3px;
	top: 178px;
	overflow: visible;
}
.Group_117_Class {
	position: absolute;
	width: 1171px;
	height: 621px;
	left: 134px;
	top: 7048px;
	overflow: visible;
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 70px;
	left: 0px;
	top: 526px;
}
.Contact_Class {
	position: absolute;
	left: 500px;
	top: 0px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Full_Name_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 115px;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(17,17,17,1);
}
.E_mail_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 188px;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(17,17,17,1);
}
.Message_Class {
	opacity: 0.7;
	position: absolute;
	left: 19px;
	top: 271px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(17,17,17,1);
}
.Send_Class {
	position: absolute;
	left: 74px;
	top: 545px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Rectangle_67_Class {
	position: absolute;
	width: 570px;
	height: 360px;
	left: 601px;
	top: 109px;
	overflow: visible;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 570px;
	height: 1px;
	left: 0.5px;
	top: 153.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 570px;
	height: 1px;
	left: 0.5px;
	top: 226.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 570px;
	height: 240px;
	left: 0px;
	top: 256px;
}
.location_Class {
	position: absolute;
	width: 24px;
	height: 30px;
	left: 601px;
	top: 499px;
	overflow: visible;
}
.message_Class {
	position: absolute;
	width: 30px;
	height: 21px;
	left: 801px;
	top: 499px;
	overflow: visible;
}
.phone_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1001px;
	top: 499px;
	overflow: visible;
}
.LSE_Houghton_Street_London_WC2_Class {
	position: absolute;
	left: 601px;
	top: 545px;
	overflow: hidden;
	width: 171px;
	height: 76px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.hello_gmail_com_Class {
	position: absolute;
	left: 801px;
	top: 545px;
	overflow: hidden;
	width: 171px;
	height: 76px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.__44_20__74057686_Class {
	position: absolute;
	left: 1001px;
	top: 545px;
	overflow: hidden;
	width: 171px;
	height: 76px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_110_Class {
	position: absolute;
	width: 1440px;
	height: 1007px;
	left: 0px;
	top: 1388px;
	overflow: visible;
}
.Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 1007px;
	left: 0px;
	top: 0px;
}
.Features_Class {
	position: absolute;
	left: 625px;
	top: 66px;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Repeat_Grid_5_Class {
	position: absolute;
	width: 1169px;
	height: 751px;
	left: 136px;
	top: 176px;
	overflow: hidden;
}
.Group_24_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_24_bi_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 401px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6_bj {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_bk_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____bl_Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_24_bm_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 802px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6_bn {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_bo_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____bp_Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_24_bq_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 0px;
	top: 395px;
	overflow: visible;
}
.Ellipse_6_br {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_bs_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____bt_Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_24_bu_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 401px;
	top: 395px;
	overflow: visible;
}
.Ellipse_6_bv {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_bw_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____bx_Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_24_by_Class {
	position: absolute;
	width: 371px;
	height: 335px;
	left: 802px;
	top: 395px;
	overflow: visible;
}
.Ellipse_6_bz {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 170px;
	left: 101px;
	top: 0px;
}
.Online_Testing_b_Class {
	position: absolute;
	left: 90px;
	top: 182px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.Lorem_ipsum_dolor_sit_amet_____b_Class {
	position: absolute;
	left: 0px;
	top: 233px;
	overflow: hidden;
	width: 372px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.online_test_Class {
	position: absolute;
	width: 64px;
	height: 84px;
	left: 283px;
	top: 216px;
	overflow: visible;
}
.trusted_certification_Class {
	position: absolute;
	width: 56px;
	height: 84px;
	left: 1093px;
	top: 225px;
	overflow: visible;
}
.expert_professor_Class {
	position: absolute;
	width: 54px;
	height: 84px;
	left: 693px;
	top: 216px;
	overflow: visible;
}
.audio_video_Class {
	position: absolute;
	width: 84px;
	height: 56px;
	left: 678px;
	top: 629px;
	overflow: visible;
}
.professional_course_Class {
	position: absolute;
	width: 62px;
	height: 84px;
	left: 1097px;
	top: 612px;
	overflow: visible;
}
.scientific_research_Class {
	position: absolute;
	width: 84px;
	height: 84px;
	left: 273px;
	top: 610px;
	overflow: visible;
}
.Group_111_Class {
	position: absolute;
	width: 1174px;
	height: 979px;
	left: 133px;
	top: 2460px;
	overflow: visible;
}
.Courses_Class {
	position: absolute;
	left: 498px;
	top: 0px;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.View_all_Class {
	opacity: 0.5;
	position: absolute;
	left: 553px;
	top: 947px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Repeat_Grid_4_Class {
	position: absolute;
	width: 1174px;
	height: 778px;
	left: 0px;
	top: 109px;
	overflow: hidden;
}
.Group_Class {
	position: absolute;
	width: 371px;
	height: 776px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_71_Class {
	position: absolute;
	width: 371px;
	height: 301px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_25_Class {
	position: absolute;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 301px;
	overflow: visible;
}
.Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 0px;
}
.Rectangle_73 {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 3px;
	left: 0px;
	top: 188px;
}
.Rectangle_74 {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 272px;
}
.Rectangle_75 {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 333px;
}
.Web_Design_Class {
	position: absolute;
	left: 31px;
	top: 31px;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Time___3_pm_Class {
	position: absolute;
	left: 112px;
	top: 228px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Teacher__Ressie_Rottman_Class {
	position: absolute;
	left: 62px;
	top: 289px;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_cm_Class {
	position: absolute;
	left: 31px;
	top: 96px;
	overflow: hidden;
	width: 293px;
	height: 70px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Rectangle_76 {
	position: absolute;
	overflow: visible;
	width: 325px;
	height: 60px;
	left: 23px;
	top: 395px;
}
.Join_Now_Class {
	position: absolute;
	left: 135px;
	top: 409px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_cp_Class {
	position: absolute;
	width: 371px;
	height: 776px;
	left: 401px;
	top: 0px;
	overflow: visible;
}
.Rectangle_71_cq_Class {
	position: absolute;
	width: 371px;
	height: 301px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_25_cr_Class {
	position: absolute;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 301px;
	overflow: visible;
}
.Rectangle_72_cs {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 0px;
}
.Rectangle_73_ct {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 3px;
	left: 0px;
	top: 188px;
}
.Rectangle_74_cu {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 272px;
}
.Rectangle_75_cv {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 333px;
}
.Photography_Class {
	position: absolute;
	left: 31px;
	top: 31px;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Time___6_pm_Class {
	position: absolute;
	left: 112px;
	top: 228px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Teacher__Floyd_Fukuda_Class {
	position: absolute;
	left: 62px;
	top: 289px;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_cz_Class {
	position: absolute;
	left: 31px;
	top: 96px;
	overflow: hidden;
	width: 293px;
	height: 70px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Rectangle_76_c {
	position: absolute;
	overflow: visible;
	width: 325px;
	height: 60px;
	left: 23px;
	top: 395px;
}
.Join_Now_c_Class {
	position: absolute;
	left: 135px;
	top: 409px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_c_Class {
	position: absolute;
	width: 371px;
	height: 776px;
	left: 802px;
	top: 0px;
	overflow: visible;
}
.Rectangle_71_c_Class {
	position: absolute;
	width: 371px;
	height: 301px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_25_c_Class {
	position: absolute;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 301px;
	overflow: visible;
}
.Rectangle_72_c {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 475px;
	left: 0px;
	top: 0px;
}
.Rectangle_73_c {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 3px;
	left: 0px;
	top: 188px;
}
.Rectangle_74_c {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 272px;
}
.Rectangle_75_c {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 2px;
	left: 63px;
	top: 333px;
}
.Digital_Marketing_Class {
	position: absolute;
	left: 31px;
	top: 31px;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Time___10_am_Class {
	position: absolute;
	left: 112px;
	top: 228px;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Teacher__Elena_Cully_Class {
	position: absolute;
	left: 62px;
	top: 289px;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_dc_Class {
	position: absolute;
	left: 31px;
	top: 96px;
	overflow: hidden;
	width: 293px;
	height: 70px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Rectangle_76_dd {
	position: absolute;
	overflow: visible;
	width: 325px;
	height: 60px;
	left: 23px;
	top: 395px;
}
.Join_Now_de_Class {
	position: absolute;
	left: 135px;
	top: 409px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_112_Class {
	position: absolute;
	width: 1440px;
	height: 664px;
	left: 0px;
	top: 3469px;
	overflow: visible;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 1440px;
	height: 664px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Our_Teachers_Class {
	position: absolute;
	left: 574px;
	top: 67px;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Repeat_Grid_6_Class {
	position: absolute;
	width: 1172px;
	height: 413px;
	left: 134px;
	top: 173px;
	overflow: hidden;
}
.Group_27_Class {
	position: absolute;
	width: 329px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6_dk_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_Class {
	position: absolute;
	width: 197px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Velvet_Vachon_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Design_Head_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_do_Class {
	position: absolute;
	width: 319px;
	height: 96px;
	left: 400px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6_dp_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_dq_Class {
	position: absolute;
	width: 187px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Arlene_Anello_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.SEO_Head_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_dt_Class {
	position: absolute;
	width: 341px;
	height: 96px;
	left: 800px;
	top: 0px;
	overflow: visible;
}
.Ellipse_6_du_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_dv_Class {
	position: absolute;
	width: 209px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Benton_Colley_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Photography_Head_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_dy_Class {
	position: absolute;
	width: 317px;
	height: 96px;
	left: 0px;
	top: 156px;
	overflow: visible;
}
.Ellipse_6_dz_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_d_Class {
	position: absolute;
	width: 185px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Floyd_Fukuda_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Marketing_HOD_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_d_Class {
	position: absolute;
	width: 284px;
	height: 96px;
	left: 400px;
	top: 156px;
	overflow: visible;
}
.Ellipse_6_d_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_ea_Class {
	position: absolute;
	width: 152px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Elena_Cully_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Design_Head_d_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_ea_Class {
	position: absolute;
	width: 335px;
	height: 96px;
	left: 800px;
	top: 156px;
	overflow: visible;
}
.Ellipse_6_ea_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_eb_Class {
	position: absolute;
	width: 203px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Burton_Brooke_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Web_Technologist_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_ed_Class {
	position: absolute;
	width: 349px;
	height: 96px;
	left: 0px;
	top: 312px;
	overflow: visible;
}
.Ellipse_6_ee_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_ef_Class {
	position: absolute;
	width: 217px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Ressie_Rottman_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Design_Head_eh_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_ei_Class {
	position: absolute;
	width: 341px;
	height: 96px;
	left: 400px;
	top: 312px;
	overflow: visible;
}
.Ellipse_6_ej_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_ek_Class {
	position: absolute;
	width: 209px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Reed_Recio_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.Photography_Head_em_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_27_en_Class {
	position: absolute;
	width: 345px;
	height: 96px;
	left: 800px;
	top: 312px;
	overflow: visible;
}
.Ellipse_6_eo_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_26_ep_Class {
	position: absolute;
	width: 213px;
	height: 75px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.Nancee_Bluford_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
.SEO_Head_er_Class {
	position: absolute;
	left: 0px;
	top: 43px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(39,174,96,1);
}
.Group_113_Class {
	position: absolute;
	width: 1170px;
	height: 879px;
	left: 135px;
	top: 4213px;
	overflow: visible;
}
.Programs_Class {
	position: absolute;
	left: 477px;
	top: 0px;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Group_97_Class {
	position: absolute;
	width: 1170px;
	height: 770px;
	left: 0px;
	top: 109px;
	overflow: visible;
}
.Group_ev_Class {
	position: absolute;
	width: 370px;
	height: 370px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 0px;
	top: 0px;
}
.Rectangle_55_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_14_Class {
	position: absolute;
	width: 301px;
	height: 102px;
	left: 34px;
	top: 122px;
	overflow: visible;
}
.Pre_college_education_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 302px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Broaden_the_creative___horizon_Class {
	position: absolute;
	left: 55px;
	top: 56px;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Rectangle_54_e {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 401px;
	top: 0px;
}
.Rectangle_55_e_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 401px;
	top: 0px;
	overflow: visible;
}
.Middle_school_Class {
	position: absolute;
	left: 491px;
	top: 122px;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Broaden_the_creative___horizon_e_Class {
	position: absolute;
	left: 490px;
	top: 177px;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Rectangle_54_fa {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 800px;
	top: 0px;
}
.Rectangle_55_fa_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 800px;
	top: 0px;
	overflow: visible;
}
.Group_14_e_Class {
	position: absolute;
	width: 194px;
	height: 99px;
	left: 888px;
	top: 122px;
	overflow: visible;
}
.High_school_Class {
	position: absolute;
	left: 15px;
	top: 0px;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Preparing_youngsters__for_the__Class {
	position: absolute;
	left: 0px;
	top: 53px;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Rectangle_54_fb {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 0px;
	top: 400px;
}
.Rectangle_55_fb_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 0px;
	top: 400px;
	overflow: visible;
}
.Group_14_fc_Class {
	position: absolute;
	width: 315px;
	height: 108px;
	left: 27px;
	top: 522px;
	overflow: visible;
}
.International_exchange_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Accepting_students__from_abroa_Class {
	position: absolute;
	left: 55px;
	top: 62px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Rectangle_54_ff {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 400px;
	top: 400px;
}
.Rectangle_55_fg_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 401px;
	top: 400px;
	overflow: visible;
}
.Group_14_fh_Class {
	position: absolute;
	width: 269px;
	height: 132px;
	left: 434px;
	top: 522px;
	overflow: visible;
}
.Graduate_programs_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Solidifying_knowledge_that__wa_Class {
	position: absolute;
	left: 14px;
	top: 62px;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Rectangle_54_fk {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 370px;
	left: 800px;
	top: 400px;
}
.Rectangle_55_fl_Class {
	opacity: 0.2;
	position: absolute;
	width: 370px;
	height: 370px;
	left: 800px;
	top: 400px;
	overflow: visible;
}
.Group_14_fm_Class {
	position: absolute;
	width: 226px;
	height: 108px;
	left: 872px;
	top: 522px;
	overflow: visible;
}
.Home_education_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Providing_robust_distant___edu_Class {
	position: absolute;
	left: 2px;
	top: 62px;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Group_115_Class {
	position: absolute;
	width: 1770px;
	height: 750px;
	left: -165px;
	top: 5952px;
	overflow: visible;
}
.Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 70px;
	left: 791px;
	top: 680px;
}
.Ho_Chi_Minh_Area_Class {
	position: absolute;
	left: 690px;
	top: 0px;
	overflow: visible;
	width: 391px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Read_more_Class {
	position: absolute;
	left: 834px;
	top: 699px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_ft_Class {
	opacity: 0.4;
	position: absolute;
	width: 270px;
	height: 518px;
	left: 0px;
	top: 102px;
	overflow: visible;
}
.Rectangle_63_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Education_with___technologies_Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_fw_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(26,26,26,1);
}
.Group_fx_Class {
	opacity: 0.4;
	position: absolute;
	width: 270px;
	height: 518px;
	left: 1500px;
	top: 102px;
	overflow: visible;
}
.Rectangle_63_fy_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Gamification_and___learning_Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_f_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(26,26,26,1);
}
.Repeat_Grid_7_Class {
	position: absolute;
	width: 1176px;
	height: 518px;
	left: 297px;
	top: 102px;
	overflow: hidden;
}
.Group_28_Class {
	position: absolute;
	width: 270px;
	height: 518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_77_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Music_tutors_in_HCMC_Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	line-height: 32px;
	margin-top: -4px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_ga_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_28_f_Class {
	position: absolute;
	width: 270px;
	height: 518px;
	left: 300px;
	top: 0px;
	overflow: visible;
}
.Rectangle_77_f_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Science_tutors_in_HCMC_Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	line-height: 32px;
	margin-top: -4px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_gb_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_28_ga_Class {
	position: absolute;
	width: 270px;
	height: 518px;
	left: 600px;
	top: 0px;
	overflow: visible;
}
.Rectangle_77_gb_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Language_tutors_in_HCMC__Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	line-height: 32px;
	margin-top: -4px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_gd_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Group_28_ge_Class {
	position: absolute;
	width: 270px;
	height: 518px;
	left: 900px;
	top: 0px;
	overflow: visible;
}
.Rectangle_77_gf_Class {
	position: absolute;
	width: 270px;
	height: 290px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.HCMC_districts_for_tutoring__Class {
	position: absolute;
	left: 0px;
	top: 320px;
	overflow: hidden;
	width: 271px;
	height: 80px;
	line-height: 32px;
	margin-top: -4px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(26,26,26,1);
}
.Lorem_ipsum_dolor_sit_amet__co_gh_Class {
	position: absolute;
	left: 0px;
	top: 411px;
	overflow: hidden;
	width: 271px;
	height: 107px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.Rectangle_1 {
	overflow: visible;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
}
.Path_1_Class {
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Knowledge_is_power_Class {
	overflow: visible;
    white-space: nowrap;
    word-wrap: break-word;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	color: rgb(32, 32, 32);
}
.Any_succesfull_career_starts_w_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 32px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
.Group_92_Class {
	position: absolute;
	width: 351px;
	height: 24px;
	left: 953px;
	top: 52px;
	overflow: visible;
}
.About_Us_Class {
	display: none;
	overflow: visible;
	white-space: nowrap;
	line-height: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Courses_gp_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Log_In_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Become_a_tutorr_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Contact_gs_Class {
	overflow: visible;
	white-space: nowrap;
	line-height: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Group_91_Class {
	position: absolute;
	width: 114px;
	height: 21px;
	left: 663px;
	top: 649px;
	overflow: visible;
}
.Ellipse_47 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 93px;
	top: 0px;
}
.Ellipse_48 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 31px;
	top: 0px;
}
.Ellipse_49 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 62px;
	top: 0px;
}
.Ellipse_50 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 21px;
	left: 0px;
	top: 0px;
}
.Techme_vn_Class {
	overflow: visible;
	white-space: nowrap;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: white;
}
.logo_Class {
	position: absolute;
	width: 40px;
	height: 32px;
	left: 135px;
	top: 48px;
	overflow: visible;
}
.Rectangle_148 {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 56px;
	left: 623px;
	top: 462px;
}
.Learn_more_Class {
	position: absolute;
	left: 652px;
	top: 477px;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_114_Class {
	position: absolute;
	width: 1440px;
	height: 676px;
	left: 0px;
	top: 5189px;
	overflow: visible;
}
.Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 676px;
	left: 0px;
	top: 0px;
}
.Group_22_Class {
	position: absolute;
	width: 760px;
	height: 524px;
	left: 340px;
	top: 76px;
	overflow: visible;
}
.What_client_say_Class {
	position: absolute;
	left: 208px;
	top: 0px;
	overflow: visible;
	width: 346px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(17,17,17,1);
}
.Group_21_Class {
	position: absolute;
	width: 760px;
	height: 120px;
	left: 0px;
	top: 110px;
	overflow: visible;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 322px;
	top: 0px;
}
.Group_g_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Ellipse_4_Class {
	opacity: 0.33;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_hc_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 160px;
	top: 0px;
	overflow: visible;
}
.Ellipse_5_hd {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Ellipse_4_he_Class {
	opacity: 0.33;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_hf_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 322px;
	top: 0px;
	overflow: visible;
}
.Ellipse_5_hg {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Ellipse_4_hh_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_hi_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 480px;
	top: 0px;
	overflow: visible;
}
.Ellipse_5_hj {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Ellipse_4_hk_Class {
	opacity: 0.33;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_hl_Class {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 640px;
	top: 0px;
	overflow: visible;
}
.Ellipse_5_hm {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Ellipse_4_hn_Class {
	opacity: 0.33;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Lorem_ipsum_dolor_sit_amet__co_ho_Class {
	position: absolute;
	left: 96px;
	top: 296px;
	overflow: hidden;
	width: 570px;
	height: 93px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(72,72,72,1);
}
.John_Doe_Class {
	position: absolute;
	left: 317px;
	top: 451px;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(17,17,17,1);
}
.CEO_Smart_Edu_Class {
	opacity: 0.8;
	position: absolute;
	left: 294px;
	top: 492px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(17,17,17,1);
}
.arrow_right_Class {
	position: absolute;
	width: 24px;
	height: 44px;
	left: 1281px;
	top: 316px;
	overflow: visible;
}
.arrow_right_hs_Class {
	position: absolute;
	width: 24px;
	height: 44px;
	left: 135px;
	top: 316px;
	overflow: visible;
}
.Group_116_Class {
	position: absolute;
	width: 1440px;
	height: 200px;
	left: 0px;
	top: 6782px;
	overflow: visible;
}
.Rectangle_65_Class {
	position: absolute;
	width: 1440px;
	height: 200px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Subscribe_to_our_newsletter_Class {
	position: absolute;
	left: 135px;
	top: 76px;
	overflow: visible;
	width: 459px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -6px;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 373px;
	height: 2px;
	left: 694.5px;
	top: 119.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_149 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 70px;
	left: 1098px;
	top: 75px;
}
.Sign_Up_Class {
	position: absolute;
	left: 1156px;
	top: 94px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Group_118_Class {
	position: absolute;
	width: 1440px;
	height: 100px;
	left: 0px;
	top: 7713px;
	overflow: visible;
}
.Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 100px;
	left: 0px;
	top: 0px;
}
.EDUCATION_Class {
	position: absolute;
	left: 193px;
	top: 34px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Home_h_Class {
	position: absolute;
	left: 689px;
	top: 38px;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.About_Us_h_Class {
	position: absolute;
	left: 779px;
	top: 38px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Courses_h_Class {
	position: absolute;
	left: 898px;
	top: 38px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Teachers_Class {
	position: absolute;
	left: 1005px;
	top: 38px;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Programs_h_Class {
	position: absolute;
	left: 1119px;
	top: 38px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Contact_h_Class {
	position: absolute;
	left: 1240px;
	top: 38px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.logo_h_Class {
	position: absolute;
	width: 40px;
	height: 32px;
	left: 135px;
	top: 34px;
	overflow: visible;
}
.Group_2_Class {
	opacity: 0.48;
	position: absolute;
	width: 1170px;
	height: 7813px;
	left: 135px;
	top: 0px;
	display: none;
	overflow: visible;
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 0px;
	top: 0px;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 100px;
	top: 0px;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 200px;
	top: 0px;
}
.Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 300px;
	top: 0px;
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 400px;
	top: 0px;
}
.Rectangle_39 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 500px;
	top: 0px;
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 600px;
	top: 0px;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 700px;
	top: 0px;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 800px;
	top: 0px;
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 900px;
	top: 0px;
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 1000px;
	top: 0px;
}
.Rectangle_45 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 7813px;
	left: 1100px;
	top: 0px;
}
.Desktop_Version_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 1440px;
	height: 7811px;
	left: 0;
	top: 0;
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}